<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pilgrims.each do |pilgrim| %>
      <tr>
        <td><%= pilgrim.firstname %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>