<div class >
<table id="test">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
         
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        
        <td><%= link_to 'Approve', parvez_path(user) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>